/* Custom styles here */

body{
    background-color: rgb(160, 160, 160);
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-color: teal;
}

@media (max-width: 1200px) {
    .link-container {
        width: 90%; /* Increase the width on smaller screens */
    }
}

@media (max-width: 768px) {
    .link-container {
        width: 95%; /* Almost full width on small screens */
    }
}

a:hover,a:link,a:active,a:visited {
    text-decoration: none; /* Ensure no underline on hover */
}

a:hover, a:active{
    color:blue;
}

a:visited{
    text-decoration: none;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.parent-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

nav{
    width: 40%;
    box-sizing: border-box;
}

.name-Header{
    font-size: 75px;
    color: white;
    margin:0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon-styling{
    text-align: left;
    margin: 10px;
}

.desc{
    color: white;
}

.profileImage{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.link-container{
    margin: 10px 0px 10px 00px;
    border-radius: 20px;   
    padding: 2px;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
    box-sizing: border-box;
    overflow: hidden;
}

.link-container:hover{
    background-color: lightgray; /* Change color to blue on hover */
}

.link-colors{
    background-color: white;
}

.link-container a{
    color:black;
}